:root {
   --dark-cyan: hsl(185, 75%, 39%);
   --very-dark-desaturated-blue: hsl(229, 23%, 23%);
   --dark-grayish-blue: hsl(227, 10%, 46%);

   --dark-gray: hsl(0, 0%, 59%);
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   color: var(--very-dark-desaturated-blue);
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: var(--dark-cyan);
   background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
   background-position: right 40vw bottom 60vh, left 25vw top 50vh;
   background-repeat: no-repeat, no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   text-rendering: optimizeSpeed;
   font-family: 'KumbhSans', sans-serif;
}
/*
   MAIN SECTION
*/
.card__main-container {
   width: 85%;
   height: 23.2em;
   display: grid;
   grid-template-rows: .6fr 1fr;
   background: white;
   color: var(--dark-grayish-blue);
   border-radius: 15px;
   overflow: hidden;
   box-shadow: 0 60px 80px rgba(0,0,0,.16);
}

.card__banner-section {
   overflow: hidden;
}

.card__banner {
   width: 100%;
}

.card__content-section {
   display: grid;
   position: relative;
   grid-template-rows: 1.5fr 1fr;
}

.card__owner-avatar {
   position: absolute;
   top: -55px;
   border: 5px solid #f0f0f0;
   border-radius: 50%;
   place-self: center;
   transition: .7s ease;
   width: 105px;
   height: 105px;
}

.card__owner-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid hsl(0deg 0% 86.23%);
}

.card__owner-section-informations {
   padding-top: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* 
   CARD OWNER INFORMATIONS
*/
.card__owner-name {
   color: var(--very-dark-desaturated-blue);
   letter-spacing: normal;
   font-size: 1.2rem;
   margin: .5em 0 .5em 0;
}

.card__owner-age {
   color: var(--dark-gray);
   font-size: 1.3rem;
   padding: 0 0 0 10px;
   font-weight: 400;
}
.card__owner-location {
   color: var(--dark-gray);
   font-size: .9rem;
   text-align: center;
}
/*
   CARD SOCIAL CONTAINER 
*/
.card__owner-socials-statics {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding: 0 1em
}
/*
   CARD SOCIAL STATS
*/
.card__social-stat {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: .7rem;
   color: var(--dark-gray);
   letter-spacing: 0.2rem;
   text-align: center;
}
.card__social-stat span{
   letter-spacing: normal;
   font-size: 1.3rem;
   font-weight: 700;
   padding-bottom: .5rem;
}

/* 
   FOOTER SECTION
*/
.author__section{
   position: fixed;
   bottom: 0;
   padding-bottom: 15px;
   z-index: 1;
   width: 100%;
   text-align: center;
}
.author__section > * {
   color: var(--very-dark-desaturated-blue);
   font-weight: 500;
}
.author__section > .author__spacer {
   margin: 0 4px 0 4px;
}
.author__section, a {
   text-decoration: none;
   transition: .3s ease-out;
}
.author__section > .author__anchor:hover {
   color: var(--dark-grayish-blue);
}

@media (min-width: 35em)
body {
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}

.card__main-container{
   width: 22em;
}